PORT=3000

APP_ID=1
APP_SECRET_KEY=APP_SECRET_KEY_HERE
APP_TOKEN=APP_TOKEN_HERE

AUTHORIZATION_LIFETIME=0
USER_DEV_TOKEN=TOKEN_WITHOUT_ANY_RIGHTS

DB_HOST=localhost
DB_PORT=3306
DB_USER=user
DB_NAME=name
DB_PASSWORD=password
DB_CONNECTION_LIMIT=20

FILES_PATH=http://localhost:3000/static
