# Порт, на котором будет работать приложение
PORT=3000

# Данные от приложения
APP_ID=1
APP_SECRET_KEY=APP_SECRET_KEY_HERE
APP_TOKEN=APP_TOKEN_HERE

# Сколько будут жить параметры запуска (в секундах)
AUTHORIZATION_LIFETIME=0

# Данные для подключения к БД
DB_HOST=localhost
DB_PORT=3306
DB_USER=user
DB_NAME=name
DB_PASSWORD=password
DB_CONNECTION_LIMIT=20

# Путь к файлам (URL)
FILES_PATH=http://localhost:3000/static

# Пароль для localhost:3000/docs
DOCS_PASSWORD=devs

# Отправлять код ошибки 200 (вместо 400). Полезно, тк не нужно try-catch'ить запрос на фронте
FORCE_200_FOR_ERRORS=true
